@model IEnumerable<TravelCompany.Web.Data.Entities.TravelDetailsEntity>

@{
    ViewData["Title"] = "Travel Details";
}

<h2>Travel Details</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                <a asp-action="Details" asp-route-id="@item.id" class="btn btn-info"><i class="glyphicon glyphicon glyphicon-align-justify"></i></a>
                <button data-id="@item.id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>

            </td>
        </tr>
}
    </tbody>
</table>
